<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <div class="card">
      <h1 class="card-header h4 d-flex align-items-center justify-content-between">
        Categories

        <% if current_user.admin? %>
          <%= link_to new_category_path, class: "btn btn-sm btn-outline-secondary" do %>
            <i class="fas fa-plus fa-fw"></i>
          <% end %>
        <% end %>
      </h1>

      <div class="list-group list-group-flush">
        <%= render collection: @categories, partial: "list_item", as: :category %>
      </div>
      <div class="card-footer d-flex justify-content-center">
        <%= paginate @categories, theme: 'twitter-bootstrap-4' %>
      </div>

    </div>
  </div>
</div>
