<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @place, partial: "card", as: :place %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "places/place_reviews" %>
  </div>
</div>

<% if current_user.admin? %>
  <div class="row justify-content-center mb-3">
    <div class="col-md-8">
      <%= render partial: "places/place_categorizations" %>
    </div>
  </div>
<% end %>
